.icon-button {
    background: var(--button-background);
    color: var(--html-color);
    font-weight: 600;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 0;
    padding: 8px 16px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px black;
    transition: all 145ms ease-out;
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon-button:hover {
    background: var(--button-hover-background);
    box-shadow: 2px 5px 20px black;
}

.icon-button:active {
    box-shadow: none;
    background: var(--button-active-background);
}