.Main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 650px) {
  .Main.left {
    grid-template-columns: 1fr 0;
  }

  .Main.left .RightPane {
    display: none;
  }

  .Main.right .LeftPane {
    display: none;
  }

  .Main.right {
    grid-template-columns: 1fr 0;;
  }
}
