.RightPane {
    grid-template-rows: 1fr auto;

    .conversation-header {
        margin-top: 1vh;
        padding-inline: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5vh;

        @media (min-width: 650px) {
            button {
                display: none;
            }
        }
    }

    .messages {
        overflow-y: auto;
        padding: 8px;
        justify-items: start;
        align-content: start;
        gap: 8px;
        grid-template-rows: auto;
    }
}